resolver 127.0.0.11;                # Docker resolver

include /etc/nginx/conflib/oidc-init.conf;

server {
    http2 on;
    listen 80 default;
    server_name ${DEFAULT_WEB_FQDN};

    if ($host != ${DEFAULT_WEB_FQDN}) {
        return 400;
    }
    location / {
        include /etc/nginx/conflib/oidc-proxy.conf;
        proxy_pass ${DEFAULT_WEB_UPSTREAML_URL};
    }

    include /etc/nginx/conflib/oidc-server.conf;
}
